body {
  /* background: #1e90ff; */
  background: #b6cfde;
  font-family: arial;
  text-align: center;
}

#wrapper {
  margin-top: 40px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: gray;
  margin-top: 5px;
  margin-bottom: 5px;
}

p {
  color: gray;
}

#flashcard {
  margin-top: 2px;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fffae8;
  border-radius: 7px;
  box-shadow: #b4b4b4 0px 0px 0px 2px inset, #fffae8 10px -10px 0px -3px,
    #b4b4b4 10px -10px, #fffae8 20px -20px 0px -3px, #b4b4b4 20px -20px;
}

ul {
  padding: 0px;
}

.questBlock {
  width: 100%;
  max-width: 500px;
}

.questAnsText {
  font-size: 14px;
  color: gray;
  line-height: 20px;
  text-align: center;
}

#questText {
  /* font-weight: bold; */
  /* background: white; */
  padding: 10px;
  padding-top: 30px;
  margin: 10px;
}

#flashcard ul {
  width: 60%;
  max-width: 350px;
}

.questChoices {
  list-style-type: none;
  margin-bottom: 4px;
  padding: 18px;
  background: #d0d0d0;
  background: #cddfd1;
}

.questChoices:hover {
  color: black;
  cursor: pointer;
  opacity: 0.75;
}

#score {
  color: #5f5f5f;
  /* color: purple; */
}

#results {
  font-weight: bold;
  padding-top: 30px;
  color: #5f5f5f;
  transition: color white;
  transition-timing-function: ease;
}

.btn {
  padding: 3px;
  margin: 10px;
  font-size: medium-small;
  color: #fffae8;
  background-color: #5c87a2;
  width: 100px;
  height: 30px;
  border: gray;
  border-radius: 4px;
  box-shadow: 2px 2px 5px gray;
}

.hiddenBtn {
  visibility: hidden;
}

a:focus {
  /* my palette */
  color: #a284f0;
  color: #b6cfde;
  color: #b0d0b7;
  color: #b7a7df;
  color: #a284f0;
  color: #9b87cc;
  color: #8373ac;
  color: #95c4d0;
  color: gray;
}
